/* boton-aceptar.component.css */

button {
    border: none;
    border-radius: 10px;
    padding: 5px 32px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: none; /* Elimina la sombra anterior */
    border-bottom: 3px solid #1730a4; /* Borde inferior para simular sombra */
    border-right: 3px solid #1730a4;
    background-color: blue; /* Color de fondo para el botón Aceptar */
    color: white; /* Color del texto para el botón Aceptar */
  }
  